<div class="p-8 pb-4 comment">
    <div class="flex items-center rounded-lg">
        <div class="p-4">
          <div class="button-secondary text-white rounded-full p-2 hover:bg-blue-400 flex items-center justify-center" id="comment-user">
            @username
          </div>
          </div>
      <div class="party-heading rounded-lg w-full py-4 px-6 text-gray-700" id="comment-text" type="text" placeholder="Looking for something specific?"> 
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore suscipit, nulla veritatis quo eveniet laboriosam error. Porro asperiores ipsa sit perspiciatis facere praesentium eum a dolor mollitia, vero voluptatem earum!
      </div>
      </div>
    </div>
  </div>
