<!--Profile-->
<div class="settings items-end">
    <button class="button-secondary inline text-white px-8 mt-5 ml-5 rounded-lg" id="settings" href="#">settings</button>
</div>


<!--User interests-->
<div id="user-interests" class="grid grid-cols-3 mx-8 md:grid-cols-6">
  <div id="interest-element" class="interest rounded-lg px-8 mx-2 mb-2 border border-purple-900">
    interest
  </div>
</div>