

<!--All Parties-->
<h1 class="h1 mt-2 grid justify-items-center">All Parties</h1>

<!--IF Parties-->
<!-- PARTY PARTIAL -->
{{#if parties.length}}
{{#each parties as |parties|}}
{{> party parties}}
{{else}}
<!--IF no Parties-->
<div class="mb-10 grid justify-items-center"> 
  <div id="user-friends" class="p-text div-bubble p-6 m-2 w-11/12 rounded-lg">
    <div>
      <div class="logo">Uh-oh!</div>
      <div class="p-text">No parties have been created yet. Visit your profile to create the first party!</div>
    </div>
  </div>
</div>
{{/if}}

