<!-- Search for Parties -->
<div class="p-8 pb-4">
    <div class="flex items-center rounded-lg">
      <input class="text-entry rounded-full w-full py-4 px-6 text-gray-700 leading-tight focus:outline-none" id="search-query" type="text" placeholder="Looking for something specific?"> 
      <div class="p-4">
        <button class="button-secondary text-white rounded-full p-2 hover:bg-blue-400 w-20 h-12 flex items-center justify-center" id="searchBtn">
          search
        </button>
        </div>
      </div>
    </div>
  </div>

<!--Suggested Parties-->
<h1 class="h1 grid justify-items-center">Suggested Parties</h1>

<!--IF no Parties-->
<div class="mb-10 grid justify-items-center"> 
  <div id="user-friends" class="p-text div-bubble p-6 m-2 w-11/12 rounded-lg">
    <div>
      <div class="logo">Uh-oh!</div>
      <div class="p-text">We currently don't have any suggestions for you. Visit your profile to create your own party!</div>
    </div>
  </div>
</div>

<!--IF Parties-->
<!-- PARTY PARTIAL -->

<!--All Parties-->
<h1 class="h1 mt-2 grid justify-items-center">All Parties</h1>

<!--IF no Parties-->
<div class="mb-10 grid justify-items-center"> 
  <div id="user-friends" class="p-text div-bubble p-6 m-2 w-11/12 rounded-lg">
    <div>
      <div class="logo">Uh-oh!</div>
      <div class="p-text">No parties have been created yet. Visit your profile to create the first party!</div>
    </div>
  </div>
</div>

<!--IF Parties-->
<!-- PARTY PARTIAL -->
