<div class="sign-up">
  <div class="h2 m-5 text-3xl grid justify-items-center">Welcome!</div>
</div>

<!-- sign in -->
<form class="grid justify-items-center">
  <div class="flex-row my-2">
    <label for="username" class="pr-2">Username:</label>
    <input type="text" id="username" name="username" placeholder="username" class="text-entry py-1 pl-3 rounded-lg">
  </div>
  <div class="flex-row my-2">
    <label for="password" class="pr-2">Password:</label>
    <input type="password" id="password" name="password" placeholder="password" class="text-entry py-1 pl-3 rounded-lg">
  </div>
  <input type="submit" value="Login" class="button-main inline text-white my-3 px-16 py-1 mb-7 md:px-40 md:py-5 md:text-3xl rounded-lg" id="loginBtn">
</form>

  <!--HERO-->
  <div class="hero">
    <img src="/assets/hero-image.jpg" alt="group of people enjoying an outdoor dinner party" class="opacity-75">
    <div class="hero-text pt-8 px-10 bg-gray-100 w-9/12 h-1/2 opacity-90 rounded-lg">
      <div class="h1 text-2xl">
      A place to talk about the things you like, and find more things to love.
      </div>
    <a class="button-main mt-6 px-16 rounded-lg" href="/signup">Sign up!</a>
    </div>
  </div>

<!--About brand section-->
<div class="div-bubble p-6">
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum earum eius quidem doloremque voluptate perferendis, perspiciatis ullam libero debitis modi, reprehenderit dolore deserunt velit ducimus ea optio eligendi. Iusto, quis.
</div>
<script src="/javascript/login.js"></script>
