<!-- Search for Parties -->
<div class="p-8 pb-4">
    <div class="flex items-center rounded-lg">
      <input class="text-entry rounded-full w-full py-4 px-6 text-gray-700 leading-tight focus:outline-none" id="search-query" type="text" placeholder="Looking for something specific?"> 
      <div class="p-4">
        <button class="button-secondary text-white rounded-full p-2 hover:bg-blue-400 w-20 h-12 flex items-center justify-center" id="searchBtn">
          search
        </button>
        </div>
      </div>
    </div>
  </div>

<!--Results Heading-->
<div class="grid justify-items-center">
    <h1 class="h1">Showing results for....</h1>
    <h1 class="h2 text-2xl pb-4">"<span id="search-query"></span>"</h1>
</div>

<!--IF no results-->
<div class="mb-10 grid justify-items-center"> 
  <div id="user-friends" class="p-text div-bubble p-6 m-2 w-11/12 rounded-lg">
    <div>
      <div class="logo">Uh-oh!</div>
      <div class="p-text">No parties match your search. Why don't you start one?</div>
    </div>
  </div>
</div>

<!--IF Results-->
<!-- PARTY PARTIAL -->