<div class="h1 py-6 px-8 grid justify-items-center">Follow the steps below to create your unique profile!</div>

<div class="grid justify-items-center"> 
<!-- Step 1 -->
<div class="div-bubble p-6 m-2 mb-4 w-11/12 rounded-lg">
    <div class="flex flex-row justify-items-start">
        <div class="button-secondary align-middle text-3xl font-extrabold rounded-full h-24 w-24 flex items-center justify-center">
            <div>1</div>
        </div>
        <div class="h2 text-2xl pl-10 my-auto">
            Choose (or generate) your username and password.
        </div>
    </div>
    <div>
        <form class="grid justify-items-center sign-up-form">
            <div class="flex-row my-2">
              <label for="username" class="pr-2">Username:</label>
              <input type="text" id="signup-username" name="username" placeholder="username" class="text-entry py-1 pl-3 rounded-lg">
            </div>
            <div class="flex-row my-2">
                <label for="password" class="pr-2">Password:</label>
                <input type="password" id="signup-password" name="password" placeholder="password" class="text-entry py-1 pl-3 rounded-lg">
              </div>
              <input type="submit" value="Submit" class="button-main inline text-white my-3 px-16 py-1 mb-7 md:px-30 md:py-2 md:text-2xl rounded-lg" id="loginBtn">
        </form>
    </div>

<!-- Step 2 -->
<div class="flex flex-row justify-items-start">
    <div class="button-secondary align-middle text-3xl font-extrabold rounded-full h-24 w-24 flex items-center justify-center">
        <div>2</div>
    </div>
    <div class="h2 text-2xl pl-10 my-auto">
        Choose your interests.
    </div>
</div>

    <div id="signup-interests" class="grid grid-cols-3 m-8 md:grid-cols-6">
        {{#each interests as |interest|}}
        <button class="interest rounded-lg px-8 mx-2 mb-2 border border-purple-900">
          {{interest.id}} - {{interest.interest_name}}
        </button>
        {{/each}}
    </div>
      <div class="grid flex-row justify-items-center">
          <button id="signupBtn" class="button-main text-white my-3 px-16 py-1 mb-7 md:px-30 md:py-2 md:text-2xl rounded-lg">Complete</button>
        </div>
    </div>
</div>
</div>
<script src="/javascript/login.js"></script>