 <!-- Party name -->
  <a href="#" class="h2 text-2xl pb-2">Party Name</a>

  <!-- party info -->
    <div class="py-2 p-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit eveniet atque quasi ipsa, sunt possimus? Ratione, aut! Nostrum culpa at, quisquam eius sint saepe sunt dolore consequatur corrupti, officiis minus.</div>
      <!-- amount of posts made to party -->
    <div class="orange-text pt-2 text-align-left">Posts: </div>