@tailwind base;

@tailwind components;

@tailwind utilities;

:root {
    --logo: #6CBAAB;
    --h1: #FEA202;
    --background-lite: #F7F5F5;
    --button1-top-gradient: #6D648B;
    --button1-bottom-gradient: #B1A8CE;
    --h2: #6D648B;
}

/* USAGE- throughout entire app */
.logo {
    font-family: 'Great Vibes', cursive;
    color: var(--logo) !important;
    font-size: 80px !important;
}

/* USAGE- throughout entire app */
.nav-constant {
    background-color: var(--background-lite);
}

/* USAGE- nav items and actions buttons: continue, skip, next, sign-up, finish, create*/
.button-main {
    background-image: linear-gradient(var(--button1-top-gradient), var(--button1-bottom-gradient));
    transition: 0.5s;
    background-size: 350%;
}

/*NOT WORKING */
.button-main:hover {
    background-position: 0% 75%;
}

.hero {
    position: relative;
    text-align: center;
    color: white;
  }

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--h1);
    font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
  }

.h2 {
    font-family: 'Nanum Gothic', sans-serif;
    color: var(--h2);
}